@font-face {
  font-family: "IRANYekan";
  src: url("../public/assets/fonts/IRANYekanXVFaNumVF.woff2") format("woff2"),
    url("../public/assets/fonts/IRANYekanXVFaNumVF.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "IRANYekan", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
